$color-text-primary   : #ffffff;
$color-text-secondary : #888888;

$color-dark           : #0e111b;
$color-neutral        : #21273a;
$color-light          : #3a4157;
$color-light-hover    : #505872;

$border-radius: 15px;
