@import '../shared.scss';

.routingDiagam {
  background-color: $color-neutral;
  border-radius: 12px;
  width: 100%;
  margin: 10px;
  margin-top: 5px;
  position: relative;
}

.routingDiagam h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.routingDiagramPath {
  background-color: $color-light;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.routingDiagramPool {
  align-items: center;
}

.routingDiagramPool img {
  width: 26px;
  margin: -3px;
  margin-top: -1px;
}

.routingDiagramPoolArrow {
  margin: 3px;
  flex: 1 1 auto;
}

.routingDiagramExpandIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}
