@import '../shared.scss';

.routingDiagram {
  background-color: $color-neutral;
  border-radius: 12px;
  width: 100%;
  margin: 10px;
  margin-top: 5px;
  position: relative;
}

.routingDiagram h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.routingDiagramPath {
  background-color: $color-light;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.routingDiagramPath .percentage {
  text-align: right;
  width: 42px;
  margin-right: 10px;
}

.routingDiagramToken img {
  width: 26px;
  margin: -3px;
  margin-top: 1px;
}

.routingDiagramToken {
  align-items: center;
  text-align: center;
  width: 32px;
}

.routingDiagramPoolArrow {
  margin: 3px;
  flex: 1 1 auto;
}

.routingDiagramExpandIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}
